{% extends 'base.html' %}
{% load static %}



{% block content %}

<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h2 data-aos="fade-up" data-aos-delay="100">The Persian language reading app</h2>
          <div data-aos="fade-up" data-aos-delay="200">
            <a href="{% url 'home' %}proficiency/" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1  hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="{% static '/img/persian_manuscript.jpg' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients clients">
      <div class="container">

        <div class="row">



          <div class="col-lg-6 col-md-6 col-6">
            <img src="{% static '/img/flagship_logo.png' %}" alt="" data-aos="zoom-in" data-aos-delay="100">
          </div>

          <div class="col-lg-6 col-md-6 col-6">
            <img src="{% static '/img/umd_logo.svg' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="400">
          </div>

        </div>

      </div>
    </section><!-- End Clients Section -->

  </main>

{% endblock %}