{% extends 'base.html' %}
{% load static %}

{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">


          <h2>User Dashboard</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <br>

    <section id="level" class="pricing">
      <div class="container">
        <div class="section-title">
          <h3>User Profile for user {{ profile.user }}</h3>
        </div>
        <div class="row">

          <div class="col-lg-10 col-md-10">

        <h3>Role: {{ profile.get_type_display }}</h3>
              <hr>
         {% if profile.type == 'S' %}
              <h4>Progress</h4>
              <p>The green bar represents the percentage of materials completed successfully by the user.</p>
              <br>
<h5>Novice</h5>

<div class="progress">

  <div class="progress-bar bg-success" role="progressbar" style="width: {{ progress_novice }}%" aria-valuenow="{{ progress_novice }}" aria-valuemin="0" aria-valuemax="100"></div>

</div>
              <br>
<h5>Intermediate</h5>
<div class="progress">

  <div class="progress-bar bg-success" role="progressbar" style="width: {{ progress_intermediate }}%" aria-valuenow="{{ progress_intermediate }}" aria-valuemin="0" aria-valuemax="100"></div>
</div>
              <br>
<h5>Advanced</h5>
<div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="width: {{ progress_advanced }}%" aria-valuenow="{{ progress_advanced }}" aria-valuemin="0" aria-valuemax="100"></div>

</div>
{% elif profile.type == 'I' %}


             <table class="table ">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">Proficiency Level</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      {% for novice in progress_novice %}
      <td>{{ novice.user_progress }}</td>
      <td>Novice</td>
       {% endfor %}
    </tr>
    <tr>
      {% for intermediate in progress_intermediate %}
      <td>{{ intermediate.user_progress }}</td>
      <td>Intermediate</td>
       {% endfor %}
    </tr>
    <tr>
      {% for advanced in progress_advanced %}
      <td>{{ advanced.user_progress }}</td>
      <td>Advanced</td>
       {% endfor %}
    </tr>
  </tbody>

</table>

{% endif %}

        </div>

      </div>
          </div>
    </section><!-- End Pricing Section -->

  </main><!-- End #main -->

{% endblock %}