{% extends 'base.html' %}
{% load static %}

{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

      </div>
    </section><!-- End Breadcrumbs -->

    <section id="portfolio-details" class="portfolio-details">
      <div class="container">
          <br>
          <br>

          <div class="row">
              <div class="col-md-12">
                <h2 class="portfolio-title">{{ material.title|safe }}</h2>
              </div>
          </div>
          <br>
          <br>

      <div class="row">
  <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12">
      <div class="col align-items-center" id="main_content">

          <div class="card"  id="reading_content">
{% if material.image %}
  <a class="fancybox" href="{% url 'home' %}media/{{ material.image }}" data-fancybox-group="gallery" title=""><img
    src="{% url 'home' %}media/{{ material.image }}"
    class="card-img-top"/></a>
{% endif %}

<div class="card-header" id="card-content">
          <ul class="nav nav-tabs card-header-tabs" id="options">
            <li class="nav-item">
              <a class="nav-link active" href="#instructions" aria-controls="description" aria-selected="true">Instructions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="#reading" aria-controls="reading" aria-selected="false">Reading</a>
            </li>
              {% if material.video %}
            <li class="nav-item">
              <a class="nav-link" href="#video"  aria-controls="deals" aria-selected="false">Video</a>
            </li>
              {% endif %}
          </ul>
        </div>

  <div class="card-body">
      <div class="tab-content">
          <div class="tab-pane active" id="instructions">

      {{ material.instructions|safe }}

</div>
          <div class="tab-pane " id="reading" >
              {% if material.audio %}
          <audio id="player" src="{% url 'home' %}media/{{ material.audio }}"></audio>
          <div class="float-right">
          <button onclick="document.getElementById('player').play()" type="button" class="btn btn-info">
               <span class="material-icons">volume_up</span>
          </button>
          </div>
          <br>
          <br>
          {% endif %}

              {{ material.text|safe }}

           {% if material.pdf %}
              <br>
          <div class="text-right">
                              <a href="{% url 'home' %}media/{{ material.pdf }}" target="_blank" class="btn btn-primary btn-sm" >PDF</a>
          </div>
              {% endif %}

          <hr>
          <br>
          <br>
          <form method="post" id="reading-material-form">
          {% csrf_token %}
          {%  for quiz in material.quizzes.all %}
          {% for question in quiz.get_questions %}
              <div class="card-header">
          <h5>{{ question.content|safe }}</h5>
              </div>
              <div class="card-body">

              {% for answer in question.get_answers %}
    {% if question.language == 'P' %}
        <fieldset class="text-right" id="{{ question.id }}">
        <label>{{ answer|safe }}</label>
            <input type="radio" name="{{ question.id }}" id="{{ answer.id }}" required>
          </fieldset>
    {% else %}
            <fieldset class="text-left" id="{{ question.id }}">
            <input type="radio" name="{{ question.id }}" id="{{ answer.id }}" required>
        <label>{{ answer|safe }}</label>
          </fieldset>
    {% endif %}

                  {% endfor %}
              </div>
              {% endfor %}
      {% endfor %}
          <input type="submit" value="Check responses" id="check_responses">
</form>
          <div id="question-responses"></div>
            </div>

          <div class="tab-pane " id="video" >
              <div class="embed-responsive embed-responsive-16by9">
              <video  controls>
                    <source src=" {% url 'home' %}media/{{ material.video }}" type="video/mp4">
                      Your browser does not support the video tag.
                </video>
                  </div>
            </div>
        </div>
    </div>
                </div>
            </div>
        </div>
      </div>
        <br>
        <br>
      <button type="button" class="btn btn-success btn-lg" id="next" onclick="get_next_url()">Next Material</button>
      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
{% endblock %}

{% block js %}

    <script type="text/javascript">
    $('#next').hide();
    var csrfToken = '{{ csrf_token }}';

          $(document).ready(function(){
    $(".fancybox").fancybox({
        openEffect: "none",
        closeEffect: "none"
    });
});

//Handling form submission
$('#reading-material-form').on('submit', function(event){
    event.preventDefault();
    save_responses($('#reading-material-form').val());
});


//Function that saves the form submission
function save_responses(){
var words = {{ words.dictionary|safe }};
var responses = [];



$('input[type=radio]:checked').each(function () {
    responses.push($(this).attr('id'));
})

    $('#reading-material-form input').attr('readonly', 'readonly');
     $.ajax({
            type: 'POST',
            url: "{% url 'save_responses' %}",
            beforeSend: function (xhr) {
        xhr.setRequestHeader('X-CSRFToken', csrfToken);
        },
            data: {'responses': responses, 'material_id': {{ material.id }} },
            success: function (response) {

            $('#check_responses').hide();
            $('#next').show(500);

            $('#question-responses').append('<div class="card-header"><p>Results and Feedback</p></div><br>');

                for (let i = 0; i < response.length; i++) {
                    $('#question-responses').append(
                                '<p>'+response[i]['question']+'</p>'
                            )
                    if(response[i]['result']==0){
                        $('#question-responses').append(
                            '<p>Your answer: '+response[i]['answer']+' <strong class="text-danger">'+response[i]['response']+'</strong></p>'
                        )
                    }

                     else if(response[i]['result']==1){
                        $('#question-responses').append(
                             '<p>Your answer: '+response[i]['answer']+' <strong class="text-success">'+response[i]['response']+'</strong></p>'

                        )
                    }
                    $('#question-responses').append('<hr>')
                    }
            },
            error: function (response) {
             $('#next').show(500);
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
        })
};

$('#options a').on('click', function (e) {

  $(this).tab('show');
})

    //Get next url//

    var id={{ material.id }};
    var ids = {{ ids|safe }};
    var index = ids.indexOf(id);
    var url = '{{ request.get_full_path }}';


    function get_next_url() {

        if (index < ids.length - 1) {
            nextId = ids[index + 1];
            var new_url = url.substring(0, url.lastIndexOf('/')) + '/' + nextId;
            window.location.replace(new_url);
        }
        else {
            var new_url = "{% url 'home' %}";
            window.location.replace(new_url);

        }
    }

    </script>
{% endblock %}